@page "/"
@inject StatePreferenceService StatePreferenceService

<PageTitle>Australian Holidays</PageTitle>

<div class="controls">
    <StateSelector SelectedStates="selectedStates" SelectedStatesChanged="OnStatesChanged" />
</div>
<div class="controls">
    <YearSelector Is12MonthsMode="is12MonthsMode" Is12MonthsModeChanged="OnIs12MonthsModeChanged"
                  SelectedYears="selectedYears" SelectedYearsChanged="OnSelectedYearsChanged" />
</div>
<div class="controls">
    <ExportMenu SelectedStates="selectedStates" StartYear="startYear" YearCount="yearCount" />
</div>

<HolidayList Holidays="holidays" ShowStateColumn="@(selectedStates.Count != 1)" />

<HolidayLogicInfo />

@code {
    HashSet<State> selectedStates = [.. Enum.GetValues<State>()];
    IReadOnlyList<HolidayViewModel>? holidays;
    Date startDate;
    Date endDate;
    int startYear;
    int yearCount;
    bool is12MonthsMode = true;
    HashSet<int> selectedYears = [];

    protected override async Task OnInitializedAsync()
    {
        UpdateDateRange();

        var savedState = await StatePreferenceService.GetSavedStateAsync();

        if (savedState.HasValue)
        {
            selectedStates = [savedState.Value];
        }

        LoadHolidays();
    }

    async Task OnStatesChanged(IReadOnlySet<State> states)
    {
        selectedStates = new HashSet<State>(states);

        if (states.Count == 1)
        {
            await StatePreferenceService.SaveStateAsync(states.First());
        }
        else
        {
            await StatePreferenceService.SaveStateAsync(null);
        }

        LoadHolidays();
    }

    Task OnIs12MonthsModeChanged(bool value)
    {
        is12MonthsMode = value;
        UpdateDateRange();
        LoadHolidays();
        return Task.CompletedTask;
    }

    Task OnSelectedYearsChanged(IReadOnlySet<int> years)
    {
        selectedYears = new HashSet<int>(years);
        UpdateDateRange();
        LoadHolidays();
        return Task.CompletedTask;
    }

    void UpdateDateRange()
    {
        if (is12MonthsMode)
        {
            (startDate, endDate) = HolidayFilterService.GetDefaultDateRange();
        }
        else if (selectedYears.Count > 0)
        {
            var minYear = selectedYears.Min();
            var maxYear = selectedYears.Max();
            startDate = new Date(minYear, 1, 1);
            endDate = new Date(maxYear, 12, 31);
        }

        (startYear, yearCount) = HolidayFilterService.GetExportYearRange(startDate, endDate);
    }

    void LoadHolidays()
    {
        holidays = HolidayFilterService.GetHolidays(selectedStates, startDate, endDate);
    }
}
