@page "/"
@inject StatePreferenceService StatePreferenceService

<PageTitle>Australian Holidays</PageTitle>

@if (showLocationPrompt)
{
    <LocationPrompt OnStateDetected="OnStateDetected" OnDismissed="OnLocationDismissed" />
}

<div class="controls">
    <StateSelector SelectedStates="selectedStates" SelectedStatesChanged="OnStatesChanged" />
</div>
<div class="controls">
    <ExportMenu SelectedStates="selectedStates" StartYear="startYear" YearCount="yearCount" />
</div>

<HolidayList Holidays="holidays" ShowStateColumn="@(selectedStates.Count != 1)" />

<HolidayLogicInfo />

@code {
    HashSet<State> selectedStates = new(Enum.GetValues<State>());
    IReadOnlyList<HolidayViewModel>? holidays;
    bool showLocationPrompt;
    DateOnly startDate;
    DateOnly endDate;
    int startYear;
    int yearCount;

    protected override async Task OnInitializedAsync()
    {
        (startDate, endDate) = HolidayFilterService.GetDefaultDateRange();
        (startYear, yearCount) = HolidayFilterService.GetExportYearRange(startDate, endDate);

        var savedState = await StatePreferenceService.GetSavedStateAsync();

        if (savedState.HasValue)
        {
            selectedStates = [savedState.Value];
        }
        else
        {
            var hasBeenPrompted = await StatePreferenceService.HasBeenPromptedAsync();
            showLocationPrompt = !hasBeenPrompted;
        }

        LoadHolidays();
    }

    async Task OnStatesChanged(IReadOnlySet<State> states)
    {
        selectedStates = new HashSet<State>(states);

        if (states.Count == 1)
        {
            await StatePreferenceService.SaveStateAsync(states.First());
        }
        else
        {
            await StatePreferenceService.SaveStateAsync(null);
        }

        LoadHolidays();
    }

    void OnStateDetected(State? state)
    {
        if (state.HasValue)
        {
            selectedStates = [state.Value];
        }

        showLocationPrompt = false;
        LoadHolidays();
    }

    void OnLocationDismissed()
    {
        showLocationPrompt = false;
    }

    void LoadHolidays()
    {
        holidays = HolidayFilterService.GetHolidays(selectedStates, startDate, endDate);
    }
}
